name: Build `ty` for Android

on:
  workflow_dispatch: # Allows you to run this workflow manually

jobs:
  build-ty-for-android:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Rust Android toolchain
      uses: rust-android-actions/setup-android-toolchain@v1.3.1
      with:
        ndk-version: 'r26d'
        target: "aarch64-linux-android"

    - name: Build `ty` binary
      # Use --package to specify we only want to build the 'ty' crate
      run: cargo build --release --package ty --target aarch64-linux-android

    - name: Upload `ty` binary
      uses: actions/upload-artifact@v4
      with:
        name: ty-android-binary
        path: target/aarch64-linux-android/release/ty # The path to the compiled `ty` binary