name: Build ty for Termux (Native)

on:
  workflow_dispatch:

jobs:
  build-ty-for-termux:
    runs-on: ubuntu-latest
    
    container:
      image: termux/termux-docker:aarch64
      options: --user root # Run as root to install packages and fix permissions

    steps:
      - name: Install Dependencies
        run: |
          # Update repositories and install needed packages
          pkg update -y
          pkg install -y git rust
      
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Checkout to a specific path inside the container
          path: ./source

      - name: Build ty
        run: |
          # Navigate into the source directory and build
          cd ./source
          cargo build --release --package ty

      - name: Upload `ty` binary
        uses: actions/upload-artifact@v4
        with:
          name: ty-termux-binary
          path: ./source/target/release/ty