name: Build ty for Termux (Native)

on:
  workflow_dispatch:

jobs:
  build-ty-for-termux:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build inside Termux Docker container
        run: |
          docker run \
            --rm \
            -v "$GITHUB_WORKSPACE:/data" \
            -w /data \
            --entrypoint /data/data/com.termux/files/usr/bin/sh \
            termux/termux-docker:aarch64 \
            -c "
              pkg update -y && \
              pkg install -y rust && \
              cargo build --release --package ty
            "

      - name: Upload `ty` binary
        uses: actions/upload-artifact@v4
        with:
          name: ty-termux-binary
          path: ./target/release/ty